.Watch {
  display: flex;
  flex-direction: column;
  align-items: center;

  .watch__videos {
    flex-wrap: wrap;

    .loader {
      width: 80px;
      margin: 2rem;
    }

    .DisplayCard {
      margin: 0.5rem;
    }
  }

  .watch__filter {
    margin: 1rem 0;
    align-items: center;
  }
}
