.carousel {
    position: absolute;
    bottom: 2rem;
    height: auto;
    width: 100%;
    padding: 1rem;

    .option {
        width: 150px;
        height: 1px;
        background: white;
        margin: 0.5rem;
        border-radius: 2px;
        cursor: pointer;
    }

    .option.active {
        height: 4px;
    }
}