:root {
  --height-header: 80px;
}

.header {
  z-index: 1;
  height: auto;
}

.header {
  .header__brand .link {
    display: flex;
    align-items: center;
    justify-content: center;

    & > p {
      font-weight: 300;
      font-size: 1.4rem;
      color: white;
      margin-left: 10px;
    }
  }

  .nav__item {
    margin: 0.8rem 1rem 0.5rem;

    & > .link {
      font-weight: 600;
      & > * {
        margin-right: 10px;
      }
    }

    & > .link.active {
      color: var(--clr-primary);
    }
  }
}
